.TaskNew__padre {
    padding: 50px;
    color: #000000;
}

.TaskNew__hijo {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

form {
    display: grid;
    background-color: aqua;
    padding: 25px 40px 35px 40px;
    width: 300px;
    font-size: 25px;
    background-color: #F3F3F3;
}

input {
    height: 30px;
    padding: 15px;
    font-size: 15px;
}

form, input, button {
    border-radius: 10px;
    outline: none;
}

button{
    height: 65px;
    width: 100%;
    padding-top: -120px;
    background-color: #6CD1AB;
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}

form, input, button {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}